*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 100px;
    background-color: beige;
}

/*menu*/
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}

.nav .logo b{
    color: darkgreen;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}

/* ACTIVE */

.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: darkgreen;
    display: flex;
    position: relative;
    margin-left: 10px;
}

/*INPUT*/

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

.signin{
    background-color: transparent;
    border: none;
}

.signup{
    background-color: darkgreen;
    color: antiquewhite;
    outline: none;
    border: none;
    border-radius: 5px;
}

/*content*/

.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30 px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/*content text (left side)*/

.content .content-left{
    display: block;
    width: 100%;
}

.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;

}

.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.content .content-left .info p{
    font-size: 20px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.content .content-left button{
    padding: 10px 23px;
    background-color: darkgreen;
    color: antiquewhite;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* CONTENT IMAGE*/

.content .content-right{
    display: block;
    width: 100%;
}

.content .content-right img{
    width: 400px;
    height: auto;
    position: relative;
}

/* CONTENT ANIMATION*/
